@model ResyRoom.ViewModels.IViewStudioViewModel

<div class="studio-general-info">
    <div class="cover-studio-picture"></div>
    <div class="general-profile-info">
        <h4>Información general</h4>
        <ul>
            <li>@Html.LabelFor(m => m.Estudio.PrecioPorHoraDesde): @Model.Estudio.PrecioPorHoraDesde</li>
            <li>@Html.LabelFor(m => m.Estudio.Email): @Model.Estudio.Email</li>
            @if (!string.IsNullOrEmpty(Model.Estudio.Telefono))
            {
                <li>@Html.LabelFor(m => m.Estudio.Telefono): @Model.Estudio.Telefono</li>
            }
            @if (!string.IsNullOrEmpty(Model.Estudio.Celular))
            {
                <li>@Html.LabelFor(m => m.Estudio.Celular): @Model.Estudio.Celular</li>
            }
            <li>Número de salas: @Model.Estudio.Salas.Count()</li>
            <li>@Html.LabelFor(m => m.Estudio.NroDeReservasTotales): @Model.Estudio.NroDeReservasTotales</li>
            <li>@Html.LabelFor(m => m.Estudio.PoseeSalaConDoblePedal): @(Model.Estudio.PoseeSalaConDoblePedal ? "Sí" : "No")</li>
            <li>@Html.LabelFor(m => m.Estudio.PoseeSalaConSetDePlatos): @(Model.Estudio.PoseeSalaConSetDePlatos ? "Sí" : "No")</li>
            <li>@Html.LabelFor(m => m.Estudio.PoseeComentarios): @(Model.Estudio.PoseeComentarios ? "Sí" : "No")</li>
            <li>@Html.LabelFor(m => m.Estudio.PoseeInfoDeEquipos): @(Model.Estudio.PoseeInfoDeEquipos ? "Sí" : "No")</li>
            <li>@Html.LabelFor(m => m.Estudio.PoseeGrabacion): @(Model.Estudio.PoseeGrabacion ? "Sí" : "No")</li>
        </ul>
    </div>
</div>
