@using ResyRoom.Infraestructura.Extensiones
@model ResyRoom.ViewModels.IViewStudioViewModel

<div class="studio-rooms">
    @foreach (var sala in @Model.Estudio.Salas)
    {
        <div class="div-table studio-room-container" style="@(sala.DatosGrabacion == null ? "width: 60%" : "")">
            <div class="studio-info-room div-cell">
                <div class="room-name">@sala.Nombre</div>
                <div class="div-table studio-detail">
                    <ul class="div-cell">
                        <li><span class="span-label">Tamaño:</span> <span class="span-value">@sala.Tamaño</span></li>
                        <li><span class="span-label">Doble pedal:</span> <span class="span-value">@(sala.DoblePedal == true ? "Sí" : "No")</span></li>
                        <li><span class="span-label">Set de platos:</span> <span class="span-value">@(sala.SetDePlatos == true ? "Sí" : "No")</span></li>
                    </ul>
                    <div class="div-cell studio-buttons">
                        <input type="button" class="botonMedio" value="ver horarios" data-bind="click: function() { viewKoViewModel.SalaSeleccionada(@(sala.IdSala)); History.pushState({ Tab: 'Reservas' }, 'Reservas', null); }" />
                        <input type="button" class="botonMedio" value="ver equipos" data-bind="click: function() { viewKoViewModel.SalaSeleccionada(@(sala.IdSala)); History.pushState({ Tab: 'Equipos' }, 'Equipos', null); }" />
                    </div>
                </div>
                <div class="room-price">Precio x hr: <span>@sala.Precio.ToCurrency()</span></div>
            </div>
            @if (sala.DatosGrabacion != null)
            {
                <div class="studio-room-recording div-cell">
                    <div class="room-name">Grabación</div>
                    <ul>
                        <li><span class="span-label">Masterización:</span> <span class="span-value">@(sala.DatosGrabacion.Masterizacion == true ? "Sí" : "No")</span></li>
                    </ul>
                    <div class="recording-price">Precio x canción: <span>@sala.DatosGrabacion.PrecioPorCancion.ToCurrency()</span></div>
                </div>    
            }
        </div>
    }
</div>
