@using ResyRoom.Infraestructura.Extensiones
@using ResyRoom.Models
@using ResyRoom.ViewModels
@model ISearchStudioViewModel
@{
    ViewBag.Title = "Busqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(Model.Resultados, ajaxUpdateContainerId: "divGrillaResultados", defaultSort: "PrecioPorHoraDesde", ajaxUpdateCallback: "reCargarGrilla");
}
<style>
    #lnkGrabacion:hover, #lnkEquipadaCon:hover
    {
        text-decoration: underline;
        cursor: pointer;
    }

    .grillaResultados
    {
        border-collapse: collapse;
        margin-top: 10px;
        width: 100%;
    }

        .grillaResultados thead th
        {
            border: 1px dotted gainsboro;
            text-align: left;
            padding-left: 10px;
        }

            .grillaResultados thead th a
            {
                color: gray;
            }

        .grillaResultados tr
        {
            height: 35px;
        }

        .grillaResultados td
        {
            padding-left: 10px;
            border-right: 1px dotted gainsboro;
        }

            .grillaResultados td:last-child
            {
                border-right: none;
            }

    .column20
    {
        width: 20%;
    }

    .column60
    {
        width: 60%;
    }

    .column10
    {
        width: 10%;
    }

    .columnVerMas
    {
        width: 10%;
        text-align: center;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#divRangoPrecio").slider({
            range: true,
            min: 0,
            max: 30000,
            step: 500,
            values: [3000, 7000],
            slide: function (event, ui) {
                cambiarPrecios(ui.values[0], ui.values[1]);
            }
        });

        $("#divRangoPrecioGrabacion").slider({
            range: true,
            min: 0,
            max: 200000,
            step: 5000,
            values: [10000, 70000],
            slide: function (event, ui) {
                cambiarPreciosGrabacion(ui.values[0], ui.values[1]);
            }
        });

        $("#Busqueda_Region_IdRegion").change(function () {
            $(this).llenaDropDownListHijo('@Url.Action("ObtenerComunas", "User")', '#Busqueda_Comuna_IdComuna');
        });

        $("#Busqueda_Region_IdRegion").llenaDropDownListHijo('@Url.Action("ObtenerComunas", "User")', '#Busqueda_Comuna_IdComuna');

        $("#divComboRegiones").css("width", $("#Busqueda_Region_IdRegion").width() - 20);
        $("#divComboComuna").css("width", $("#Busqueda_Comuna_IdComuna").width() - 20);

        cambiarPrecios($("#divRangoPrecio").slider("values", 0), $("#divRangoPrecio").slider("values", 1));
        cambiarPreciosGrabacion($("#divRangoPrecioGrabacion").slider("values", 0), $("#divRangoPrecioGrabacion").slider("values", 1));

        $("#trEquipadaCon").hide();
        $("#lnkEquipadaCon").click(function () {
            if ($("#trEquipadaCon").is(":visible")) {
                $("#trEquipadaCon").hide('slow');
            }
            else {
                $("#trEquipadaCon").show('slow');
            }
        });

        $('[id^=trGrabacion]').hide();
        $("#lnkGrabacion").click(function () {
            if ($('[id^=trGrabacion]').is(":visible")) {
                $('[id^=trGrabacion]').hide('slow');
            }
            else {
                $('[id^=trGrabacion]').show('slow');
            }
        });

        $("#Busqueda_NroDeMicrofonos").spinner({
            min: 0,
            max: 30,
            start: 0
        });

        function cambiarPrecios(desde, hasta) {
            desde = desde.toString();
            hasta = hasta.toString();

            if (desde > 0 && hasta < 30000) {
                $("#lblPrefijoPrecio").text("Entre $");
                $("input#Busqueda_PrecioDesde").val(desde);
                $("#lblPrecioDesde").text(desde.toMoney());
                $("#lblIntermedioPrecio").text(" y $");
                $("input#Busqueda_PrecioHasta").val(hasta);
                $("#lblPrecioHasta").text(hasta.toMoney());
            }
            else if (desde == 0 && hasta == 30000) {
                $("#lblPrefijoPrecio").text("Sin rango de precio");
                $("input#Busqueda_PrecioDesde").text("");
                $("#lblPrecioDesde").text("");
                $("input#Busqueda_PrecioHasta").text("");
                $("#lblPrecioHasta").text("");
                $("#lblIntermedioPrecio").text("");
            }
            else if (desde == 0) {
                $("#lblPrefijoPrecio").text("Hasta $");
                $("input#Busqueda_PrecioDesde").text("");
                $("#lblPrecioDesde").text("");
                $("#lblIntermedioPrecio").text("");
                $("input#Busqueda_PrecioHasta").val(hasta);
                $("#lblPrecioHasta").text(hasta.toMoney());
            }
            else if (hasta == 30000) {
                $("#lblPrefijoPrecio").text("Desde $");
                $("input#Busqueda_PrecioDesde").val(desde);
                $("#lblPrecioDesde").text(desde.toMoney());
                $("#lblIntermedioPrecio").text("");
                $("input#Busqueda_PrecioHasta").text("");
                $("#lblPrecioHasta").text("");
            }
        };

        function cambiarPreciosGrabacion(desde, hasta) {
            desde = desde.toString();
            hasta = hasta.toString();

            if (desde > 0 && hasta < 200000) {
                $("#lblPrefijoPrecioGrabacion").text("Entre $");
                $("label[for='Busqueda_PrecioPorGrabacionDeCancionDesde']").text(desde.toMoney());
                $("#lblIntermedioPreciGrabacion").text(" y $");
                $("label[for='Busqueda_PrecioPorGrabacionDeCancionHasta']").text(hasta.toMoney());
            }
            else if (desde == 0 && hasta == 200000) {
                $("#lblPrefijoPrecioGrabacion").text("Sin rango de precio");
                $("label[for='Busqueda_PrecioPorGrabacionDeCancionDesde']").text("");
                $("label[for='Busqueda_PrecioPorGrabacionDeCancionHasta']").text("");
                $("#lblIntermedioPrecioGrabacion").text("");
            }
            else if (desde == 0) {
                $("#lblPrefijoPrecioGrabacion").text("Hasta $");
                $("label[for='Busqueda_PrecioPorGrabacionDeCancionDesde']").text("");
                $("#lblIntermedioPrecioGrabacion").text("");
                $("label[for='Busqueda_PrecioPorGrabacionDeCancionHasta']").text(hasta.toMoney());
            }
            else if (hasta == 200000) {
                $("#lblPrefijoPrecioGrabacion").text("Desde $");
                $("label[for='Busqueda_PrecioPorGrabacionDeCancionDesde']").text(desde.toMoney());
                $("#lblIntermedioPrecioGrabacion").text("");
                $("label[for='Busqueda_PrecioPorGrabacionDeCancionHasta']").text("");
            }
        }


        //        function reCargarGrilla() {
        //            //            $('#divGrillaResultados').load("@Url.Action("Search", "Studio")");
        //            //            $('#grdResultados').html(data);

        //            var accion = '@Url.Action("Search", "Studio")' + '/';

        //            //            $.post(accion, null, function(data) {
        //            //                $('#divGrillaResultados').replaceWith(data);
        //            //            });

        //        }

        //        $("#btnBuscar").click(function () {
        //            reCargarGrilla();
        //        });
    });
</script>
<div class="div-table studio-search-page">
    @Html.Partial("_RankingSidebar", (BaseViewModel)Model)
    <div class="div-cell search-form">
        @using (Ajax.BeginForm("Search", "Studio", new AjaxOptions { UpdateTargetId = "divGrillaResultados" }))
        {
            <h2>.búsqueda</h2>
            <div class="subtitle">Busca el estudio de música que mejor te suene</div>
        
            <div>
                <div class="div-table search-item">
                    <span class="first-label div-cell">Nombre del Estudio</span>
                    @Html.TextBoxFor(v => v.Busqueda.NombreEstudio, new { @style = "width:400px; margin-right: 42px;", @class = "textboxform" })
                    <span class="checkbox-list">
                        @Html.CheckBoxFor(v => v.Busqueda.ConComentarios)
                        @Html.LabelFor(v => v.Busqueda.ConComentarios)
                    </span>
                    <span class="checkbox-list">
                        @Html.CheckBoxFor(v => v.Busqueda.ConFotos)
                        @Html.LabelFor(v => v.Busqueda.ConFotos)
                    </span>
                    <span>
                        @Html.CheckBoxFor(v => v.Busqueda.ConReservaOnline)
                        @Html.LabelFor(v => v.Busqueda.ConReservaOnline)
                    </span>
                </div>
                <div class="div-table" style="width: 100%;">
                    <div class="div-cell" style="vertical-align: top;">
                        <div class="div-table search-item">
                            <span class="first-label div-cell">
                                @Html.LabelFor(v => v.Busqueda.Region)
                            </span>
                            @Html.DropDownListFor(v => v.Busqueda.Region.IdRegion, Model.ListadoRegiones.ToSelectListItem(), new { @style = "width:402px" })
                            <span class="second-label">
                                @Html.LabelFor(v => v.Busqueda.Comuna)
                            </span>
                            @Html.DropDownListFor(v => v.Busqueda.Comuna.IdComuna, Model.ListadoComunas.ToSelectListItem(), new { @style = "width:202px" })
                        </div>
                        <div class="div-table search-item">
                            <span class="first-label div-cell" style="padding-top: 7px;">
                                @Html.Label("Rango de Precio ")
                            </span>
                            <div class="div-cell" style="width: 402px;">
                                <div id="divRangoPrecio">
                                </div>
                            </div>
                            <span style="padding-left: 48px;">
                                @Html.Label("Prefijo", new { @Id = "lblPrefijoPrecio" })
                                @Html.Label("Desde", new { @Id = "lblPrecioDesde" })
                                @Html.HiddenFor(v => v.Busqueda.PrecioDesde)
                                @Html.Label("Intermedio", new { @Id = "lblIntermedioPrecio" })
                                @Html.Label("Hasta", new { @Id = "lblPrecioHasta" })
                                @Html.HiddenFor(v => v.Busqueda.PrecioHasta)
                            </span>
                        </div>
                    </div>
                    <div class="search-buttom div-cell">
                        <input id="btnBuscar" type="submit" value="B U S C A R" class="botonGrande" />
                    </div>
                </div>
                <div id="lnkEquipadaCon" class="search-item expandable-button">
                    Equipada con >>>
                </div>
                <div id="trEquipadaCon" class="search-item">
                    <span class="checkbox-list">
                        @Html.CheckBoxFor(v => v.Busqueda.ConInstrumentos)
                        @Html.LabelFor(v => v.Busqueda.ConInstrumentos)
                    </span>
                    <span class="checkbox-list">
                        @Html.CheckBoxFor(v => v.Busqueda.ConDoblePedal)
                        @Html.LabelFor(v => v.Busqueda.ConDoblePedal)
                    </span>
                    <span class="checkbox-list">
                        @Html.CheckBoxFor(v => v.Busqueda.ConSetDePlatos)
                        @Html.LabelFor(v => v.Busqueda.ConSetDePlatos)
                    </span>
                    <span class="checkbox-list">
                        @Html.CheckBoxFor(v => v.Busqueda.ConAireAcondicionadoVentilacion)
                        @Html.LabelFor(v => v.Busqueda.ConAireAcondicionadoVentilacion)
                    </span>
                    <span>
                        @Html.LabelFor(v => v.Busqueda.NroDeMicrofonos, new { style = "padding-right: 10px" })
                        @Html.TextBoxFor(v => v.Busqueda.NroDeMicrofonos, new { style = "width: 30px;" })
                    </span>
                </div>
                <div id="lnkGrabacion" class="search-item expandable-button">
                    Grabación >>>
                </div>
                <div id="trGrabacion" class="div-table search-item">
                    <span class="first-label div-cell" style="padding-top: 7px;">Precio x Canción</span>
                    <div class="div-cell" style="width: 402px;">
                        <div id="divRangoPrecioGrabacion">
                        </div>
                    </div>
                    <span style="padding-left: 48px;">
                        @Html.Label("Prefijo", new { @Id = "lblPrefijoPrecioGrabacion" })
                        @Html.LabelFor(v => v.Busqueda.PrecioPorGrabacionDeCancionDesde)
                        @Html.Label("Intermedio", new { @Id = "lblIntermedioPrecioGrabacion" })
                        @Html.LabelFor(v => v.Busqueda.PrecioPorGrabacionDeCancionHasta)
                    </span>
                </div>
                <div id="trGrabacion2" style="padding-bottom: 12px;">
                    <span class="checkbox-list">
                        @Html.CheckBoxFor(v => v.Busqueda.Masterizacion)
                        @Html.LabelFor(v => v.Busqueda.Masterizacion)
                    </span>
                    <span class="checkbox-list">
                        @Html.CheckBoxFor(v => v.Busqueda.PorPistas)
                        @Html.LabelFor(v => v.Busqueda.PorPistas)
                    </span>
                    <span>
                        @Html.CheckBoxFor(v => v.Busqueda.ConAireAcondicionadoVentilacion)
                        @Html.LabelFor(v => v.Busqueda.ConAireAcondicionadoVentilacion)
                    </span>
                </div>
            </div>
        
            @Html.Partial("_ResultadoEstudios", Model.Resultados)
        }
    </div>
</div>
