@using System.Globalization
@using ResyRoom.Infraestructura.Extensiones
@using ResyRoom.ViewModels
@model ResyRoom.ViewModels.IViewStudioViewModel
<script src="@Url.Content("~/Scripts/knockout-3.1.0.js")" type="text/javascript"></script>

@{
    ViewBag.Title = @Model.Estudio.Nombre + " - ResyRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var viewKoViewModel;
    function ViewKoViewModel() {
        var self = this;
        self.TabSeleccionado = ko.observable("Equipos");
        self.SalaSeleccionada = ko.observable(@(Model.Estudio.Salas.First().IdSala));
    }

    $(document).ready(function () {
        if ($(".general-profile-info ul li").length % 2 == 0) {
            $($(".general-profile-info ul li")[$(".general-profile-info ul li").length - 2]).css("border-bottom", "0");
        }

        viewKoViewModel = new ViewKoViewModel();
        ko.applyBindings(viewKoViewModel);

        $(".equipment-boxes").css("width", $(".studio-equipment").width() + "px");
    });
</script>

<div class="div-table studio-search-page">
    @Html.Partial("_RankingSidebar", (BaseViewModel)Model)
    <div class="div-cell search-form">
        <div class="studio-profile-title">
            <h3>@Model.Estudio.Nombre</h3>
            <span>@Model.Estudio.Direccion, @Model.Estudio.Comuna.Descripcion, @Model.Estudio.Comuna.Region.Descripcion</span>
            <div class="studio-profile-tabs">
                <ul>
                    <li data-bind="css: { 'tab-selected': (TabSeleccionado() == 'Info') }, click: function () { viewKoViewModel.TabSeleccionado('Info'); }">Información General</li>
                    <li data-bind="css: { 'tab-selected': (TabSeleccionado() == 'Salas') }, click: function () { viewKoViewModel.TabSeleccionado('Salas'); }">Salas</li>
                    <li data-bind="css: { 'tab-selected': (TabSeleccionado() == 'Equipos') }, click: function () { viewKoViewModel.TabSeleccionado('Equipos'); }">Equipos</li>
                    <li data-bind="css: { 'tab-selected': (TabSeleccionado() == 'Reservas') }, click: function () { viewKoViewModel.TabSeleccionado('Reservas'); }">Reservas</li>
                </ul>
            </div>
        </div>
        <div class="studio-general-info" data-bind="visible: (TabSeleccionado() == 'Info')">
            <div class="cover-studio-picture"></div>
            <div class="general-profile-info">
                <h4>Información general</h4>
                <ul>
                    <li>@Html.LabelFor(m => m.Estudio.PrecioPorHoraDesde): @Model.Estudio.PrecioPorHoraDesde</li>
                    <li>@Html.LabelFor(m => m.Estudio.Email): @Model.Estudio.Email</li>
                    @if (!string.IsNullOrEmpty(Model.Estudio.Telefono))
                    {
                        <li>@Html.LabelFor(m => m.Estudio.Telefono): @Model.Estudio.Telefono</li>
                    }
                    @if (!string.IsNullOrEmpty(Model.Estudio.Celular))
                    {
                        <li>@Html.LabelFor(m => m.Estudio.Celular): @Model.Estudio.Celular</li>
                    }
                    <li>Número de salas: @Model.Estudio.Salas.Count()</li>
                    <li>@Html.LabelFor(m => m.Estudio.NroDeReservasTotales): @Model.Estudio.NroDeReservasTotales</li>
                    <li>@Html.LabelFor(m => m.Estudio.PoseeSalaConDoblePedal): @(Model.Estudio.PoseeSalaConDoblePedal ? "Sí" : "No")</li>
                    <li>@Html.LabelFor(m => m.Estudio.PoseeSalaConSetDePlatos): @(Model.Estudio.PoseeSalaConSetDePlatos ? "Sí" : "No")</li>
                    <li>@Html.LabelFor(m => m.Estudio.PoseeComentarios): @(Model.Estudio.PoseeComentarios ? "Sí" : "No")</li>
                    <li>@Html.LabelFor(m => m.Estudio.PoseeInfoDeEquipos): @(Model.Estudio.PoseeInfoDeEquipos ? "Sí" : "No")</li>
                    <li>@Html.LabelFor(m => m.Estudio.PoseeGrabacion): @(Model.Estudio.PoseeGrabacion ? "Sí" : "No")</li>
                </ul>
            </div>
        </div>
        <div class="studio-rooms" data-bind="visible: (TabSeleccionado() == 'Salas')">
            <h4>Listado de Salas</h4>
            @foreach (var sala in @Model.Estudio.Salas)
            {
                <div class="div-table studio-room-container" style="@(sala.DatosGrabacion == null ? "width: 60%" : "")">
                    <div class="studio-info-room div-cell">
                        <div class="room-name">@sala.Nombre</div>
                        <ul>
                            <li><span class="span-label">Tamaño:</span> <span class="span-value">@sala.Tamaño</span></li>
                            <li><span class="span-label">Doble pedal:</span> <span class="span-value">@(sala.DoblePedal == true ? "Sí" : "No")</span></li>
                            <li><span class="span-label">Set de platos:</span> <span class="span-value">@(sala.SetDePlatos == true ? "Sí" : "No")</span></li>
                        </ul>
                        <div class="room-price">Precio x hr: <span>@sala.Precio.ToCurrency()</span></div>
                    </div>
                    @if (sala.DatosGrabacion != null)
                    {
                        <div class="studio-room-recording div-cell">
                            <div class="room-name">Grabación</div>
                            <ul>
                                <li><span class="span-label">Masterización:</span> <span class="span-value">@(sala.DatosGrabacion.Masterizacion == true ? "Sí" : "No")</span></li>
                            </ul>
                            <div class="recording-price">Precio x canción: <span>@sala.DatosGrabacion.PrecioPorCancion.ToCurrency()</span></div>
                        </div>    
                    }
                </div>
            }
        </div>
        <div class="studio-equipment" data-bind="visible: (TabSeleccionado() == 'Equipos')">
            <h4>Equipos</h4>
            <div class="equipment-menu">
                <ul class="list-menu">
                    @foreach (var sala in @Model.Estudio.Salas)
                    {
                        <li data-bind="css: { 'room-selected': (SalaSeleccionada() == @sala.IdSala) }, click: function () { viewKoViewModel.SalaSeleccionada(@(sala.IdSala)    ); }">@sala.Nombre</li>
                    }
                </ul>
            </div>
            @foreach (var sala in @Model.Estudio.Salas)
            {
                <div class="equipment-boxes" data-bind="visible: (SalaSeleccionada() == @sala.IdSala)">
                    @foreach (var equipo in sala.Equipos.OrderByDescending(e => e.PrecioAdicional))
                    {
                        <div class="equipment-box">
                            <div class="equipment-name">@equipo.Nombre</div>
                            <div>@equipo.Descripcion</div>
                            @if (equipo.PrecioAdicional > 0)
                            {
                                <div class="additional-price">Precio Adicional: <span>+ @equipo.PrecioAdicional.ToCurrency()</span></div>
                            }
                            <div class="equipment-picture" style="background: url(@(equipo.Fotografia)); background-size: 100%; background-position: center center; background-repeat: no-repeat;"></div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="studio-booking" data-bind="visible: (TabSeleccionado() == 'Reservas')">
            <h4>Horarios</h4>
        </div>
    </div>
</div>
