@model ResyRoom.ViewModels.BaseViewModel

<!DOCTYPE html>
<html id="htmlTag">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="../../Content/smoothness/jquery-ui-1.9.2.custom.css" rel="stylesheet"
        type="text/css" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/jquery")
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/extensions")
    @Scripts.Render("~/bundles/facebook")
    @Scripts.Render("~/bundles/layout")
    @Scripts.Render("~/bundles/knockoutjs-with-mapping")
    <script type="text/javascript">
        LayoutConfiguration().Init();
    </script>
</head>
<body>
    <div class="page">
        <div class="page-header">
            <div style="height: 10px; background-color: gray;">
            </div>
            <div class="header-container">
                <div class="HeaderMenu">
                    <ul class="menu">
                        <li>
                            <img src="../../Content/img/home16.png" alt="Inicio" />
                            @Html.ActionLink("Inicio", "Index", "User")</li>
                        @if (!Model.UserLogged)
                        {
                            <li>
                                <img src="../../Content/img/mic.png" alt="Inicio" />
                                @Html.ActionLink("Registro", "RegisterUser", "User")</li>    
                        }
                        <li>
                            <img src="../../Content/img/mic.png" alt="Inicio" />
                            @Html.ActionLink("Registro de Estudio", "RegisterStudio", "User")</li>
                        <li>
                            <img src="../../Content/img/info16.png" alt="Inicio" />
                            @Html.ActionLink("Acerca", "Index", "User")</li>
                        <li>
                            <img src="../../Content/img/mail16.png" alt="Inicio" />
                            @Html.ActionLink("Contacto", "Index", "User")</li>
                    </ul>
                </div>
                @if (Model.UserLogged && User != null)
                {
                    <div class="logged-div">
                        @if (User != null && User.IsFacebookLogin)
                        {
                            <img class="facebook-avatar" src="http://graph.facebook.com/@(User.FacebookId)/picture" alt="facebook-avatar"/>
                        }
                        <span class="facebook-login-links">
                            @User.Nombre
                            <span class="separator-link">|</span>
                            @Html.ActionLink("Cuenta", "AccountData", "User")
                            <span class="separator-link">|</span>
                            @Html.ActionLink("Cerrar sesión", "CloseSession", "User")
                        </span>
                    </div>
                }
                else
                {
                    @Html.Partial("_LoginModal")
                }
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
