@using ResyRoom.Models
@using ResyRoom.ViewModels
@model ResyRoom.ViewModels.BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/smoothness/jquery-ui-1.9.2.custom.css" rel="stylesheet"
        type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Form.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Control.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Table.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Header.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Login.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Validation.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Dropdownlist.css")" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300' rel='stylesheet' type='text/css'>
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.elastic.source.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Extensiones.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/checkbox.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/facebook-sdk-v2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.backstretch.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/sammy.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#LoginUsuario_Email, #LoginUsuario_Password").keypress(function (e) {
                if (e.which == 13) {
                    $('#LoginForm').submit();
                }
            });
        })
    </script>
</head>
<body>
    <div class="page">
        <div class="page-header">
            <div style="height: 10px; background-color: gray;">
            </div>
            <div class="HeaderMenu">
                <ul class="menu">
                    <li>
                        <img src="../../Content/img/home16.png" alt="Inicio" />
                        @Html.ActionLink("Inicio", "Index", "User")</li>
                    @if (!Model.UserLogged)
                    {
                        <li>
                            <img src="../../Content/img/mic.png" alt="Inicio" />
                            @Html.ActionLink("Registro", "RegisterUser", "User")</li>    
                    }
                    <li>
                        <img src="../../Content/img/mic.png" alt="Inicio" />
                        @Html.ActionLink("Registro de Estudio", "RegisterStudio", "User")</li>
                    <li>
                        <img src="../../Content/img/info16.png" alt="Inicio" />
                        @Html.ActionLink("Acerca", "Index", "User")</li>
                    <li>
                        <img src="../../Content/img/mail16.png" alt="Inicio" />
                        @Html.ActionLink("Contacto", "Index", "User")</li>
                </ul>
            </div>
            <div class="login-div @(User != null && User.IsFacebookLogin ? "facebook-login-div" : "")">
                @if (Model.UserLogged && User != null)
                {
                    if (User != null && User.IsFacebookLogin)
                    {
                    <img class="facebook-avatar" src="http://graph.facebook.com/@(User.FacebookId)/picture" alt="facebook-avatar"/>
                    }
                    <span class="facebook-login-links">
                        @User.Nombre
                        <span class="separator-link">|</span>
                        @Html.ActionLink("Cuenta", "AccountData", "User")
                        <span class="separator-link">|</span>
                        @Html.ActionLink("Cerrar sesión", "CloseSession", "User")
                    </span>
                }
                else
                {
                    using (Html.BeginForm("Index", "User", FormMethod.Post, new { Id = "LoginForm" }))
                    {
                    <span class="email-cell">@Html.LabelFor(u => u.LoginUsuario.Email)</span>
                    @Html.TextBoxFor(u => u.LoginUsuario.Email, new { @class = "txt" })
                    <span class="password-cell">@Html.LabelFor(u => u.LoginUsuario.Password)</span>
                    @Html.TextBoxFor(u => u.LoginUsuario.Password, new { @class = "txt" })
                    <span class="remember-cell">
                        @Html.CheckBoxFor(u => u.LoginUsuario.Recordarme)
                        @Html.LabelFor(m => m.LoginUsuario.Recordarme)
                    </span>
                    <span class="separator-link">|</span>
                    <fb:login-button scope="public_profile,email" size="icon" onlogin="checkLoginState();"></fb:login-button>
                    }
                }
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
