@model ResyRoom.ViewModels.BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/smoothness/jquery-ui-1.9.2.custom.css" rel="stylesheet"
        type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Form.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Control.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Table.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Header.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Login.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Validation.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Dropdownlist.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.elastic.source.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Extensiones.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/checkbox.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div style="height: 10px; background-color: gray;">
        </div>
        <div class="HeaderMenu">
            <ul class="menu">
                <li>
                    <img src="../../Content/img/home16.png" alt="Inicio" />
                    @Html.ActionLink("Inicio", "Index", "User")</li>
                <li>
                    <img src="../../Content/img/mic.png" alt="Inicio" />
                    @Html.ActionLink("Registro", "RegisterUser", "User")</li>
                <li>
                    <img src="../../Content/img/info16.png" alt="Inicio" />
                    @Html.ActionLink("Acerca", "Index", "User")</li>
                <li>
                    <img src="../../Content/img/mail16.png" alt="Inicio" />
                    @Html.ActionLink("Contacto", "Index", "User")</li>
            </ul>
        </div>
        <div class="login-div">
            @using (Html.BeginForm())
            {
                <span class="email-cell">@Html.LabelFor(u => u.Usuario.Email)</span>
                @Html.TextBoxFor(u => u.Usuario.Email, new { @class = "txt" })
                <span class="password-cell">@Html.LabelFor(u => u.Usuario.Password)</span>
                @Html.TextBoxFor(u => u.Usuario.Password, new { @class = "txt" })
                <span class="remember-cell">
                    @Html.CheckBoxFor(u => u.Usuario.Recordarme)
                    @Html.LabelFor(m => m.Usuario.Recordarme)
                </span>
            }
        </div>
        @RenderBody()
    </div>
</body>
</html>
