@using ResyRoom.Infraestructura.Extensiones
@using System.Web.Mvc
@model ResyRoom.ViewModels.RegisterUserViewModel

@{
    ViewBag.Title = "Registrar nuevo usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#Usuario_Banda_Descripcion").css('width', '188px');
    });
</script>
<div class="content">
    <div class="form">
        <div class="register-studio-form">
            @Html.Partial("_MessageNotification")
            <div class="div-table register-user-div">
                <div class="div-cell">
                    <h1 class="form-header">Información del Usuario</h1>
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        <div class="register-user-row">
                            <span class="left-label">
                                @Html.LabelFor(u => u.RegistroUsuario.Nombre)
                            </span><span>
                                @Html.TextBoxFor(u => u.RegistroUsuario.Nombre, new { @class = "txt", name = "Nombre" })
                            </span>
                        </div>
                        <div class="register-user-row">
                            <span class="left-label">
                                @Html.LabelFor(u => u.RegistroUsuario.Email)
                            </span>
                            <span>
                                @Html.TextBoxFor(u => u.RegistroUsuario.Email, new { @class = "txt" })
                            </span>
                        </div>
                        <div class="register-user-row">
                            <span class="left-label">
                                @Html.LabelFor(u => u.RegistroUsuario.Password)
                            </span>
                            <span>
                                @Html.PasswordFor(u => u.RegistroUsuario.Password, new { @class = "txt" })
                            </span>
                        </div>
                        <div class="register-user-row">
                            <span class="left-label">
                                @Html.LabelFor(u => u.RegistroUsuario.PasswordConfirmacion)
                            </span>
                            <span>
                                @Html.PasswordFor(u => u.RegistroUsuario.PasswordConfirmacion, new { @class = "txt" })
                            </span>
                        </div>
                        <div class="register-user-continue">
                            <input type="submit" value="Continuar" class="botonGrande" />
                        </div>
                    }
                </div>
                <div class="div-cell facebook-login">
                    <h1 class="facebook-header">Usar Facebook para entrar</h1>
                    <div class="facebook-button-login">
                        <fb:login-button scope="public_profile,email" size="large" onlogin="checkLoginState();">Iniciar Sesión</fb:login-button>
                        <div class="facebook-status" id="status">Por favor inicia sesión en facebook.</div>
                    </div>
                </div>
            </div>
            <div>
                <h2>Registro</h2>
                <p>
                    En <b>ResyRoom</b> brindamos el servicio para que cada usuario pueda buscar y evaluar
                    el estudio, ya sea de grabación o de ensayo que mas le acomode a su banda.
                    <br />
                    <br />
                    Ingrese los datos para su <b>identificación</b> como usuario, o puedes también simplemente entrar
                    con tu cuenta de <b>facebook</b>. Puedes estar seguro que no se accederá a ningun dato de tu cuenta mas que 
                    tus datos básicos (como tu nombre y correo), ya que de todas formas no se como sacar mas datos <b>:(</b>
                </p>
            </div>
        </div>
    </div>
</div>

