@using System.Web.Script.Serialization
@model ResyRoom.ViewModels.RegisterStudio.IRegisterStudioViewModel
@{
    ViewBag.Title = "Registrar nuevo usuario";
}

@Scripts.Render("~/bundles/knockoutjs-with-mapping")
@Scripts.Render("~/bundles/history")
@Scripts.Render("~/bundles/time-entry")
@Scripts.Render("~/bundles/jquery-mask")
@Scripts.Render("~/bundles/extra-validations")
@Scripts.Render("~/bundles/RegisterStudio")
<script type="text/javascript">
    var vm = { koViewModel: null };
    var jsModel;
    
    $(document).ready(function () {
        jsModel = @Html.Raw(new JavaScriptSerializer().Serialize(Model));
        vm.koViewModel = ko.mapping.fromJS(jsModel);
        
        RegisterStudioConfiguration(vm).Init();
    });
</script>
<div class="content">
    <div class="form">
        <div class="register-studio-form">
        </div>
    </div>
</div>
