@model ResyRoom.ViewModels.IRegisterStudioViewModel
@{
    ViewBag.Title = "Registrar nuevo usuario";
}

@Scripts.Render("~/bundles/knockoutjs")
@Scripts.Render("~/bundles/RegisterStudio")
<script type="text/javascript">
    var koViewModel;

    $(document).ready(function() {
        koViewModel = RegisterStudioConfiguration().Init();
    });
</script>
<div class="content">
    <div class="form">
        @using (Html.BeginForm())
        {
            <div class="register-studio-form">
                
            </div>
            @*<table class="register-studio-form">
                <tr>
                    <td style="width: 47%;">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        <h1>
                                            Información del Email</h1>
                                        <div style="border-top: 1px solid gainsboro; margin-top: 5px;" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.LabelFor(u => u.Usuario.Nombre)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(u => u.Usuario.Nombre, new { @class = "txt" })
                                        @Html.ValidationMessageFor(u => u.Usuario.Nombre)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(u => u.Usuario.Email)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(u => u.Usuario.Email, new { @class = "txt" })
                                        @Html.ValidationMessageFor(u => u.Usuario.Email)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(u => u.Usuario.Password)
                                    </td>
                                    <td>
                                        @Html.PasswordFor(u => u.Usuario.Password, new { @class = "txt" })
                                        @Html.ValidationMessageFor(u => u.Usuario.Password)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(u => u.Usuario.PasswordConfirmacion)
                                    </td>
                                    <td>
                                        @Html.PasswordFor(u => u.Usuario.PasswordConfirmacion, new { @class = "txt" })
                                        @Html.ValidationMessageFor(u => u.Usuario.PasswordConfirmacion)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        <h1>
                                            Información del Estudio</h1>
                                        <div style="border-top: 1px solid gainsboro; margin-top: 5px;" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.LabelFor(u => u.Estudio.Nombre)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(u => u.Estudio.Nombre, new { @class = "txt", @style = "width:190px" })
                                        @Html.ValidationMessageFor(u => u.Estudio.Nombre)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Región
                                    </td>
                                    <td>
                                        @Html.DropDownList("ddlRegiones", new SelectList(Model.Regiones, "IdRegion", "Descripcion"), new { @style = "width:194px; " })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(u => u.Estudio.IdComuna)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(u => u.Estudio.IdComuna, new SelectList(Model.Comunas, "IdComuna", "Descripcion"), new { @style = "width:194px; " })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(u => u.Estudio.Direccion)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(u => u.Estudio.Direccion, new { @class = "txt", @style = "width:190px" })
                                        @Html.ValidationMessageFor(u => u.Estudio.Direccion)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(u => u.Estudio.Email)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(u => u.Estudio.Email, new { @class = "txt", @style = "width:190px" })
                                        @Html.ValidationMessageFor(u => u.Estudio.Email)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(u => u.Estudio.Telefono)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(u => u.Estudio.Telefono, new { @class = "txt", @style = "width:190px" })
                                        @Html.ValidationMessageFor(u => u.Estudio.Telefono)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(u => u.Estudio.Celular)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(u => u.Estudio.Celular, new { @class = "txt", @style = "width:190px" })
                                        @Html.ValidationMessageFor(u => u.Estudio.Celular)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <input type="submit" value="Ingresar" class="boton botonOk" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        @Html.ValidationSummary(true, "Revise que los datos hayan sido ingresados correctamente.")
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left !important;">
                        <br />
                        <h2>
                            Registro</h2>
                        <p>
                            En <b>ResyRoom</b> brindamos el servicio para que cada estudio pueda ingresar y
                            mostrar su estudio, ya sea de grabación o de ensayo, de esta forma dispondrá de
                            un mayor acceso via un medio tan masivo como lo es hoy en día internet.
                            <br />
                            <br />
                            Ingrese los datos para su <b>identificación</b> como usuario, y a continuación los
                            datos básicos de su <b>estudio</b>
                        </p>
                    </td>
                </tr>
            </table>*@
        }
    </div>
</div>
