@using ResyRoom.Infraestructura.Extensiones
@model ResyRoom.ViewModels.RegisterStudio.RoomEquipmentViewModel

<div class="register-studio-equipment new-equipment">
    <form>
        <div class="div-table form-row">
            <div class="div-cell label">
                @Html.LabelFor(u => u.Nombre)
            </div>
            <div class="div-cell value">
                @Html.TextBoxFor(u => u.Nombre, new { @class = "txt", data_bind = "value: Equipos()[" + @Model.Indice + "].Nombre" })
                @Html.ValidationMessageFor(u => u.Nombre)
            </div>
        </div>
        <div class="div-table form-row">
            <div class="div-cell label vertical-centered">
                @Html.LabelFor(u => u.Descripcion)
            </div>
            <div class="div-cell value">
                @Html.TextAreaFor(u => u.Descripcion, new { @class = "txtarea", data_bind = "value: Equipos()[" + @Model.Indice + "].Descripcion" })
            </div>
        </div>
        <div class="div-table form-row">
            <div class="div-cell label">
                @Html.LabelFor(u => u.Fotografia)
            </div>
            <div class="div-cell value">
                @Html.TextBoxFor(u => u.Fotografia, new { @class = "txt xl", data_bind = "value: Equipos()[" + @Model.Indice + "].Fotografia" })
            </div>
        </div>
        <div class="div-table form-row">
            <div class="div-cell label">
                @Html.LabelFor(u => u.TieneUnPrecioAdicional)
            </div>
            <div class="div-cell value">
                @Html.CheckBoxFor(u => u.TieneUnPrecioAdicional, new { data_bind = "checked: Equipos()[" + @Model.Indice + "].TieneUnPrecioAdicional" })
                @Html.TextBoxFor(u => u.PrecioAdicional, new { @class = "txt", data_bind = "enable: Equipos()[" + @Model.Indice + "].TieneUnPrecioAdicional, value: Equipos()[" + @Model.Indice + "].PrecioAdicional" })
            </div>
        </div>
    </form>
</div>
