@using ResyRoom.Infraestructura.Extensiones
@model ResyRoom.ViewModels.RegisterStudio.IRegisterStudioViewModel
<div>
    <h3>
        <span class="number-step">@Model.PasoNumero</span>Horarios
    </h3>
    <span class="subtitle">Con estos datos se definirá el horario de las salas del estudio..</span>
    <div class="input-form">
        @foreach (var sala in Model.Estudio.Salas.Select((value, i) => new { i, value }))
        {
            <div class="register-studio-room equipment">
                <div class="div-table equipment-header @(sala.i == 0 ? "first-child" : "")">
                    <div class="div-cell room-name @(sala.i == 0 ? "first-child" : "")">
                        @sala.value.Nombre
                    </div>
                </div>
                <div data-bind="with: Estudio.Salas()[@(sala.i)].Horario">
                    @Html.Partial("Partial/_RegisterStudioEditScheduleInfo", sala.value.Horario)
                </div>
            </div>
        }
        <div class="div-table next-button">
            <div class="div-cell">
                <input type="button" value="Anterior" class="botonGrande">
            </div>
            <div class="div-cell">
                <input type="button" value="Guardar" class="botonGrande">
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.JsonModelResult)
</div>
