@model ResyRoom.ViewModels.RegisterStudio.IRegisterStudioViewModel
<div>
    <form>
        <h3>
            <span class="number-step">@Model.PasoNumero</span>Registra tu estudio
        </h3>
        <span class="subtitle">Primero debes llenar los datos para realizar tu atentificación en el sitio..</span>
        <div class="input-form">
            <div class="div-table form-row">
                <div class="div-cell label">
                    @Html.LabelFor(u => u.Usuario.Email)
                </div>
                <div class="div-cell value">
                    @Html.TextBoxFor(u => u.Usuario.Email, new { @class = "txt", data_bind = "value: Usuario.Email" })
                    @Html.ValidationMessageFor(u => u.Usuario.Email)
                </div>
            </div>
            <div class="div-table form-row">
                <div class="div-cell label">
                    @Html.LabelFor(u => u.Usuario.Nombre)
                </div>
                <div class="div-cell value">
                    @Html.TextBoxFor(u => u.Usuario.Nombre, new { @class = "txt", data_bind = "value: Usuario.Nombre" })
                    @Html.ValidationMessageFor(u => u.Usuario.Nombre)
                </div>
            </div>
            <div class="div-table form-row">
                <div class="div-cell label">
                    @Html.LabelFor(u => u.Usuario.Password)
                </div>
                <div class="div-cell value">
                    @Html.PasswordFor(u => u.Usuario.Password, new { @class = "txt", data_bind = "value: Usuario.Password" })
                    @Html.ValidationMessageFor(u => u.Usuario.Password)
                </div>
            </div>
            <div class="div-table form-row">
                <div class="div-cell label">
                    @Html.LabelFor(u => u.Usuario.PasswordConfirmacion)
                </div>
                <div class="div-cell value">
                    @Html.PasswordFor(u => u.Usuario.PasswordConfirmacion, new { @class = "txt", data_bind = "value: Usuario.PasswordConfirmacion" })
                    @Html.ValidationMessageFor(u => u.Usuario.PasswordConfirmacion)
                </div>
            </div>
            <div class="div-table next-button">
                <input type="button" value="Siguiente" class="botonGrande">
            </div>
        </div>
    </form>
</div>
