@using ResyRoom.Infraestructura.Extensiones
@model ResyRoom.ViewModels.RegisterStudio.RoomEquipmentViewModel

<div class="register-studio-equipment">
    <div class="div-table form-row display-equipment">
        <div class="div-cell" style="width: 25%">
            @Html.DisplayFor(u => u.Nombre, new { @class = "txt", data_bind = "value: Nombre" })
        </div>
        <div class="div-cell" style="width: 25%">
            @Html.HiddenFor(u => u.Descripcion, new { data_bind = "value: Descripcion" })
            @Html.HiddenFor(u => u.Fotografia, new { data_bind = "value: Fotografia" })
            @Html.HiddenFor(u => u.TieneUnPrecioAdicional, new { data_bind = "value: TieneUnPrecioAdicional" })
            @Html.HiddenFor(u => u.PrecioAdicional, new { data_bind = "value: PrecioAdicional" })
            @if (Model.TieneUnPrecioAdicional)
            {
                <span>Precio adicional: @Model.PrecioAdicional</span>
            }
            else
            {
                <span>Sin precio adicional</span>
            }
        </div>
        <div class="equipment-actions">
            <ul>
                <li><a class="edit-equipment" href="#">editar</a>
                </li>
                <li>
                    <span class="ask-confirmation"><a href="#">eliminar</a></span>
                    <span class="delete-confirmation">
                        <span class="confirmation">Esta seguro de querer eliminar?</span>
                        <a class="delete-equipment" href="#">sí</a>
                        /
                        <a class="cancel-delete" href="#">no</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
